# .env files
.env*

# Node.js packages
node_modules/

# npm files
npm-debug.log*

# pnpm files
pnpm-debug.log*
pnpm-lock.yaml
pnpm-workspace.yaml

# Yarn files
yarn-debug.log*
yarn-error.log*

# Vite directories
dist/

# Vitest directories
.vitest/
coverage/

# Files of TypeScript compiler
.tsbuildinfo
