@import "tailwindcss";
@import "@heroui/styles";

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    min-width: 100svw;
    min-height: 100svh;
}

.clicker {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.clicker__btn-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
